<link rel="stylesheet" type="text/css" href="style.css">
<% require "google_drive" %>
</head>
<h2 style="text-align:center;">META CHECKER <span style='color:grey;'>(beta)</span></h2>
<FORM class="back"><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
<% for row in 1..@ws.num_rows %>
<% if /http/=~@ws[row,2]%>
	<% if /http/=~@ws[row,1]%>
		</table>
		<div class="picURLwrap">
		<div class="picURL">
			Images for <a href="<%= @ws[row,1]%>" target="_blank"><%= @ws[row,1]%></a></div></div>
		<table style="font-size:12px">
		<tr>
		<td>
		<a href="<%= @ws[row,2]%>" target="_blank"><img src="<%= @ws[row,2]%>" style="max-width:150px"></a>
		</td>
		<td class="border_bottom">
		<b>Image URL: </b><a href="<%= @ws[row,2]%>" target="_blank"><%= @ws[row,2]%></a><br><br>
		<b>Requested Title: </b><%= @ws[row,3]%><br>
		<b>Live Title: </b><br><br>
		<b>Requested Alt: </b><%= @ws[row,4]%><br>
		<b>Live Alt: </b>
		</td>
		</tr>
	<% else %>
		<tr>
		<td>
		<a href="<%= @ws[row,2]%>" target="_blank"><img src="<%= @ws[row,2]%>" style="max-width:150px"></a>
		</td>
		<td class="border_bottom">
		<b>Image URL: </b><a href="<%= @ws[row,2]%>" target="_blank"><%= @ws[row,2]%></a><br><br>
		<b>Requested Title: </b><%= @ws[row,3]%><br>
		<b>Live Title: </b><br><br>
		<b>Requested Alt: </b><%= @ws[row,4]%><br>
		<b>Live Alt: </b>
		</td>
		</tr>
	<% end%>
<% end %>
<% end %>
</table>
<FORM class="back"><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
